*{
    color:white !important;
    font-family: sans-serif;
}

body{
    background-color: black ;
    max-width: 60%;
    margin: auto;
}

p {
    line-height: 1.7;
}

article + article{
    padding-top:3rem;
    margin-top: 3rem;
    border-top: 1px white solid;
}
